.App {
  text-align: center;
}

section {
  border: 2px solid black; 
  border-radius: 20px;
  margin: 5vh auto; 
  width: 414px; 
  background-color: rgb(240,234,222);
}

section h1 {
  text-decoration: overline;
  margin: 30px 0;
  font-size: 3rem; 
  font-weight: bold;

}

section > div:nth-of-type(1), article {
  border: none; 
  border-radius: 20px;
  width: 85%; 
  margin: 5vh auto;
  padding: 20px 0; 
}

section > div:nth-of-type(1) {
  background-color: rgb(198,147,85); 
}

section article {
  background-color: rgb(193, 216, 222); 
}

section div:nth-of-type(1) p {
  font-size: 2rem;
}

section article input {
  display: block; 
  margin: 20px auto; 
  height: 40px; 
  border: none; 
  border-radius: 5px;
  text-align: center;
}

section article div {
  margin: 15px 0 0 0; 
}

section article div button {
  margin: 10px auto; 
  display: block;
  width: 65%; 
  padding: 10px 20px; 
  border-radius: 20px;
  border: none; 
  background-color: white; 
  color: rgb(198,147,85); 
}

section article div button:hover {
  color: white; 
  background-color: rgb(68,95,108); 
}

